<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
    {% load staticfiles %}
    {% load i18n %}

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{% block title %}{% endblock %} ZokiGuide.com</title>

    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
    
        <link rel="stylesheet" href="{% static 'css/zokiguide.css' %}">
        {% block module_style %}{% endblock %}
        {% block template_style %}{% endblock %}
        {% block custom_css %}{% endblock %}
    {% endcompress %}

    

    {% if settings.IN_PRODUCTION %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    {% else %}
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    {% endif %}
    
    {% compress js %}
        <script src="{% static 'js/libs/modernizr-2.6.2.min.js' %}"></script>        
    
        <script>window.jQuery || document.write('<scr'+'ipt src="{% static 'js/jquery.min.js' %}"><\/scr'+'ipt>')</script>
        <script>      	
      		var django = grp = {
    			"jQuery": jQuery.noConflict(true)
    		};
    		var jQuery = django.jQuery;
    		var $ = jQuery;
      	</script>
    
        {% if settings.IN_PRODUCTION %}
            {% include 'common/google-analytics.html' %}            
        {% endif %}
    
        <script src="{% static 'js/common.js' %}"></script>
    
        {% block custom_js %}{% endblock %}
        
    {% endcompress %}
    <meta name="description" content="{% block meta_description %}{{ data.page.meta.description }}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{{ data.page.meta.keywords }}{% endblock %}">

    <meta name="author" content="">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    {% block header_code %}{% endblock %}
    {% block yandex_meta %}{% endblock %}

</head>
<body>

    <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav nav-pills">
					{% if user.is_authenticated %}
						<li>Hi <strong>{{ user.username }}</strong></li>
						<li><a href="/accounts/logout/">logout</a></li>
					{% else %}
						<li><a href="/accounts/login/">login</a></li>
						<li class="text-bold"><a href="/accounts/signup/">join</a></li>
					{% endif %}
				</ul>
				{#<form class="navbar-search pull-right">#}
					{#<input type="text" class="search-query" placeholder="Search">#}
				{#</form>#}
			</div>
		</div>
	</div>

    <div id="wrapper">
        <div id="main">
			<header class="jumbotron subhead" id="overview">
				<div class="container">
					<div class="clearfix">
						<h1 id="site-name">Zokiguide</h1>
						<h2 id="module-name">{{ module_name }}</h2>
						<p class="lead">{{ module_description }}</p>
						{% if user.is_authenticated %}
							<div class="module-actions-block">
								{% block module_actions %}{% endblock %}
							</div>
						{% endif %}
					</div>
					<div class="subnav">
						<ul class="nav nav-pills">
						    <li><a href="/">{% trans 'Main' %}</a></li>
							<li><a href="{% url catalog-home %}">{% trans 'Catalog' %}</a></li>
							<li><a href="{% url guidebook-home %}">{% trans 'Guidebook' %}</a></li>
                            <li><a href="#">{% trans 'Events' %}</a></li>
                            <li><a href="#">{% trans 'Tours' %}</a></li>
                            <li><a href="#">{% trans 'Travelmate' %}</a></li>
                            <li><a href="{% url blogs-home %}">{% trans 'Blogs' %}</a></li>
                            <li><a href="#">{% trans 'Galleries' %}</a></li>
                            <li><a href="#">{% trans 'Calendar' %}</a></li>
                            <li><a href="{% url forum-home %}">{% trans 'Forum' %}</a></li>
                            <!-- <li><a href="#">Q&A</a></li> -->
                            <li><a href="{% url classifieds-home %}">{% trans 'Classifieds' %}</a></li>
							<li><a href="{% url bookmarks-home %}">{% trans 'Online resources' %}</a></li>
						</ul>
					</div>
				</div>
			</header>
			
            {% block header %}{% endblock %}
            
            {% if settings.IN_PRODUCTION %}
				{% include 'common/google-adsense.html' %}
			{% endif %}

            {% block wrapper %}
                {% block content %}{% endblock %}
            {% endblock %}
            
            {% if settings.IN_PRODUCTION %}
				{% include 'common/google-adsense.html' %}
			{% endif %}

        </div>
    </div>

    {% block footer %}{% endblock %}


    {% compress js %}    
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}"></script>        
        <script type="text/javascript" src="{% static 'js/zokiguide.js' %}"></script>
        {% block footer_code %}{% endblock %}
    {% endcompress %}

    {% if settings.IN_PRODUCTION %}
        {% block yandex_metrika %}{% endblock %}
    {% endif %}
    
     {% comment %}
    	{% if not settings.IN_PRODUCTION %}
        	<pre>{% debug %}</pre>
        {% endif %}
     {% endcomment %}
</body>
</html>
